{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'flash'>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}
</div>
<div class="row padding-top padding-bottom">
   <div class="col-md-1"></div>
   <div class="col-md-10 padding-none"></div>
   <div class="col-md-1"></div>
   <div class="row">
      <div class="col-sm-4 category-list">
         <h4>Categories</h4>
         {% for category in catalog %}
         <a href = "{{url_for('browseCategory', category_name = category.name)}}">
            <h3>{{category.name}}</h3>
         </a>
         {% endfor %}
      </div>
      <div class="col-sm-4 category-list">
         <h4> {{category_name}} Items ({{items.count()}} Items)</h4>
         {% for item in items %}
         <a href = "{{url_for('browseItem', category_name = item.category_name, item_name =item.name)}}">
            <h3>{{item.name }} ({{ item.category_name}})</h3>
         </a>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}